@model string

<link href="/Content/Site.css" rel="stylesheet">
<script src="/Scripts/jquery-2.0.3.js"></script>

<html style="background-color: transparent;">
<body style="background-color: #223D52; color: #ffffff; width: auto; overflow: visible; height: auto; min-width: 0;">
<div>
    <div id="assessmentLogo">
    </div>
    <div style="text-align: center;">
        <p>
        <span style="font-weight: bold">END USER LICENSE AGREEMENT</span>
        <p style="text-align: left;">
            BY ACCESSING OR USING THE CONTINUUMTM WEBSITE AND PAYING THE SPECIFIED LICENSE FEE, YOU AGREE TO ALL OF THE FOLLOWING PROVISIONS AND ENTER INTO A LEGALLY BINDING AGREEMENT WITH CONTINUUMTM (WHICH FOR PURPOSES OF THIS AGREEMENT INCLUDES THE AMERICAN SOCIETY OF ADDICTION MEDICINE, FEI SYSTEMS, INC. (THE HOST OF CONTINUUMTM) AND THEIR RESPECTIVE AFFILIATES) TO ABIDE BY THE PROVISIONS OF THIS AGREEMENT. CONTINUUMTM RESERVES THE RIGHT TO MODIFY THIS AGREEMENT AT ANY TIME BY POSTING SUCH MODIFICATIONS TO THIS WEBSITE. YOUR CONTINUED ACCESS TO OR USE OF THIS WEBSITE AFTER SUCH POSTING WILL SIGNIFY YOUR AGREEMENT TO SUCH MODIFICATIONS, IF ANY.
        </p>

        <span style="font-weight: bold">SCOPE OF LICENSE</span>
        <p style="text-align: left;">
            The information accessible on this Website (including specifically the ASAM Criteria Software) is owned by the American Society of Addiction Medicine (ASAM), unless otherwise indicated. You are authorized to use this information provided on the Website solely for your individual use and solely for the purposes specified herein. You may not access or use this information for commercial, competitive, or any other purposes. You may not modify, republish, post, transmit, or distribute any information without the express written consent of ASAM. You may copy this information only to the extent necessary for your personal use. ASAM expressly retains all right, title, and interest in and to any proprietary information. Failure to adhere to these provisions could subject you to serious penalties under federal copyright law.
        </p>

        <span style="font-weight: bold">INFORMATIONAL NATURE OF THE SITE: NO MEDICAL ADVICE</span>
        <p style="text-align: left;">
            THE INFORMATION ON THE WEBSITE IS INTENDED TO IMPLEMENT THE ASAM CRITERIA FOR CLINICAL DECISION SUPPORT, BUT IT SHOULD NOT BE CONSTRUED AS MEDICAL ADVICE. THIS INFORMATION SHOULD NOT BE USED IN PLACE OF APPLICABLE PROVIDER STANDARDS OR IN PLACE OF SEEKING PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT BY LICENSED PRACTITIONERS. CONTINUUMTM DOES NOT PRACTICE MEDICINE OR LAW, AND DOES NOT OFFER ANY OTHER PROFESSIONAL ADVICE OR SERVICES. YOU ASSUME FULL RESPONSIBILITY FOR APPROPRIATE USE OF THE INFORMATION AVAILABLE THROUGH THIS WEBSITE.

            ContinuumTM does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Website.
        </p>

        <span style="font-weight: bold">PASSWORD AND SECURITY</span>
        <p style="text-align: left;">
            You are solely responsible for maintaining the confidentiality of any user name and password you use to access the ContinuumTM Website and are fully responsible for all activities that occur under your password or account. You agree (i) to notify the ASAM help desk or such other contact as ASAM may provide from time to time immediately of any unauthorized use of your password or account or any other breach of security and (ii) to ensure that you exit from your account at the end of each session. ContinuumTM cannot and will not be liable for any loss or damage arising from your failure to comply with this provision.
        </p>

        <span style="font-weight: bold">HOSTING</span>
        <p style="text-align: left;">
            ContinuumTM may provide links to the websites or services of third-party sites. Links to such third-party sites do not constitute an endorsement by ContinuumTM of such sites or the products, content, materials, or information presented or made available by such sites. You acknowledge and agree that ContinuumTM is not responsible for any damages or losses caused or alleged to have been caused by the use of any third-party sites or from the products, content, material, or information presented by or available through those sites.

            This Website and its content are hosted by FEi Systems, Inc., an independent corporation. This EULA is subject to the laws of the State of Maryland.
        </p>

        <span style="font-weight: bold">DISCLAIMER OF WARRANTY</span>
        <p style="text-align: left;">
            THIS WEBSITE AND ALL SERVICES AND INFORMATION MADE AVAILABLE ON OR THROUGH THIS WEBSITE ARE PROVIDED ON AN "AS IS," "WHERE IS," AND "AS AVAILABLE" BASIS WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, NON-INFRINGEMENT, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR ACCURACY OF INFORMATIONAL CONTENT. Without limiting the foregoing, ContinuumTM makes no representations or warranties about the accuracy, reliability, completeness, correctness, or timeliness of the content, software, text, graphics, video, links, or communications provided on or through the use of the Website.

            When using the Website, information will be transmitted over a medium that may be beyond ContinuumTM’s control and jurisdiction. Accordingly, ContinuumTM does not assume any liability for or relating to the delay, failure, interruption, or corruption of any data or other information transmitted in connection with use of the Website.

            CONTINUUMTM DOES NOT WARRANT THAT THIS WEBSITE OR ANY SERVICES OR INFORMATION MADE AVAILABLE ON OR THROUGH THIS WEBSITE, INCLUDING WITHOUT LIMITATION ANY THIRD-PARTY SOFTWARE, PRODUCTS, ITEMS OR OTHER MATERIALS USED IN CONNECTION WITH THIS WEBSITE, WILL BE TIMELY, SECURE, UNINTERRUPTED OR ERROR FREE, OR THAT DEFECTS WILL BE CORRECTED.

            ANY INFORMATION DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THIS WEBSITE IS DONE AT YOUR OWN DISCRETION AND RISK. YOU SHALL BE SOLELY RESPONSIBLE FOR ANY DAMAGE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOADING OR USE OF THE INFORMATION AND FOR ANY RESULTS OR LACK OF RESULTS FROM THE USE OF SUCH INFORMATION.
        </p>
        <span style="font-weight: bold">LIMITATION OF LIABILITY</span>
        <p style="text-align: left;">
            IN NO EVENT SHALL CONTINUUMTM BE LIABLE FOR ANY CLAIMS OR LOSSES WHATSOEVER OF ANY KIND, WHETHER DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE, AND WHETHER ARISING FROM AN ACTION IN CONTRACT, TORT, OR OTHERWISE, RELATED TO OR IN CONNECTION WITH THIS WEBSITE OR ANY SERVICES OR INFORMATION MADE AVAILABLE ON OR THROUGH THIS WEBSITE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, CONTINUUMTM SHALL NOT BE LIABLE FOR ANY CLAIMS OR LOSSES IN CONNECTION WITH ERRORS, OMISSIONS, OR INACCURACIES OF INFORMATIONAL CONTENT, OR ANY DECISION MADE IN RELIANCE ON THE INFORMATION CONTAINED ON OR ACCESSIBLE THROUGH THE WEBSITE.

            YOUR SOLE REMEDY FOR ANY CLAIMS IN CONNECTION WITH THIS WEBSITE IS TO DISCONTINUE USING THIS WEBSITE AND THE RELATED CONTENT AND SERVICES. THE FOREGOING LIMITATION SHALL APPLY AND SURVIVE NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY.

            SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
        </p>

        <span style="font-weight: bold">INDEMNIFICATION</span>
        <p style="text-align: left;">
            YOU AGREE TO INDEMNIFY, DEFEND AND HOLD CONTINUUMTM HARMLESS FROM ANY AND ALL CLAIMS OR LOSSES ARISING FROM YOUR USE OF OR RELIANCE ON THIS WEBSITE OR ANY SERVICES OR INFORMATION MADE AVAILABLE ON OR THROUGH THIS WEBSITE.
        </p>

        <span style="font-weight: bold">CHOICE OF LAW; ENTIRE AGREEMENT; SEVERABILITY; NO WAIVER</span>
        <p style="text-align: left;">
            This Agreement shall be governed by and interpreted in accordance with laws of the State of Maryland, without giving effect to any conflict of laws provisions. The parties hereby consent to the exclusive jurisdiction of and agree that venue is proper and convenient in the state and federal courts situated in Maryland.

            This Agreement constitutes the entire agreement between you and us with respect to the use of Website and the content.

            If any provision of this Agreement is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision shall be enforced to the maximum extent permissible so as to affect the intent of this Agreement, and the remainder of this Agreement shall continue in full force and effect.

            The failure of ContinuumTM to exercise or enforce any right or provision of this Agreement will not be deemed a waiver of such right or provision.
        </p>

        <span style="font-weight: bold">SURVIVAL; CLAIMS</span>
        <p style="text-align: left;">
            The provisions of this Agreement which by their nature would continue beyond termination or expiration of this Agreement shall survive such termination or expiration.

            Any claims arising in connection with your use of the Website or any content must be brought within one (1) year of the date of the event giving rise to such action. Remedies under this Agreement are exclusive and are limited to those expressly provided for in this Agreement.
        </p>
        <div>
            <form id="eulaForm" action="/home/eulaSave/" method="POST" style="background-color: #223D52; margin-bottom: 0; height: 50px; margin-top: 0;">
                <input type="hidden" value="false" id="agree" name="agree"/>
                <input type="hidden" value="@Model" id="referrer" name="referrer"/>
                <a href="#" class="btn btn-primary agree" style="color: white">I Agree</a>
                <a href="#" class="btn btn-primary no-agree" style="color: white">I Do Not Agree</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(document).ready(function () {
        $(".agree").on('click', function () {
            $("#agree").val(true);
            $("#eulaForm").submit();
        });
        $(".no-agree").on('click', function () {
            $("#agree").val(false);
            $("#eulaForm").submit();
        });
    });
</script>
