@model string

<link href="/Content/Site.css" rel="stylesheet">
<script src="/Scripts/jquery-2.0.3.js"></script>

<body class="container" style="background-color: #223D52; color: #ffffff;">
<div>
    <div id="assessmentLogo">
    </div>
    <div style="text-align: center;">
        <p>NO ACCESS</p>
    </div>
</div>
</body>
