@model Asam.Ppc.Service.Messages.Organization.OrganizationSummaryDto

@{
    Layout = "~/Views/Organization/Layout.cshtml";
    ViewBag.Title = "Organization Admin";
}

<div class="organization-wrapper">
    <div class="organization-content-wrapper">
        <em>Please select something from the left.</em>
    </div>
</div>
