<div style="position: fixed; bottom: 0; left: 0; right: 0; background-color: #223d52; vertical-align: middle; color: #fff;" id="asamFooter">
    <div style="padding: 8px 20px;">
        <a href="#" style="color: #fff;">Terms and Conditions</a>
    </div>
</div>
