<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>
    <!--1. If use ODBC to connect an Excel file, make sure the 64bit Excel driver is installed. Open 64bit ODBC console by run c:\windows\sysWOW64\odbcad32.exe. more at http://stackoverflow.com/questions/1947634/64-bit-odbc-exception -->
    <!--<add name="Dimension4TestDataConn" connectionString="Dsn=Excel Files;dbq=Dimension4ScoringStrategyTestData.xlsx;defaultdir=.\; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc"/>-->
    <!--2. If use Ole DB to connect an Excel file, need to use Microsoft.ACE.OLEDB.12.0 driver. more at http://stackoverflow.com/questions/1139390/excel-external-table-is-not-in-the-expected-format -->
    <!--Microsoft.ACE.OELD.12.0 is a replacement for Jet OLEDB Provider in server-side applications. It needs a installation of Microsoft Access Database Engine at http://www.microsoft.com/en-us/download/details.aspx?id=13255 -->
    <!--3. Make sure the target Excel file has been added to Solution Items->Local.testsettings->Deployment folder -->
    <!--4. It may worth to take a look at SQL Server 2012 LocalDB as data source for unit test. Example at http://www.roelvanlisdonk.nl/?p=2607 -->
    <!--<add name="Dimension2TestDataConn" connectionString="Dsn=Excel Files;dbq=Dimension2ScoringStrategyTestData.xlsx;defaultdir=.\; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="Dimension3TestDataConn" connectionString="Dsn=Excel Files;dbq=Dimension3ScoringStrategyTestData.xlsx;defaultdir=.\; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="Dimension4TestDataConn" connectionString="Dsn=Excel Files;dbq=Dimension4ScoringStrategyTestData.xlsx;defaultdir=.\; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />-->
    <add name="DiagnosisTestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=DiagnosisScoringStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="Dimension1TestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Dimension1ScoringStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="Dimension2TestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Dimension2ScoringStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="Dimension3TestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Dimension3ScoringStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="Dimension4TestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Dimension4ScoringStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="Dimension5TestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Dimension5ScoringStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="Dimension6TestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Dimension6ScoringStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="DimensionalAdmissionCriteriaTestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=DimensionalAdmissionCriteriaTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
    <add name="ReportingStrategyTestDataConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=ReportingStrategyTestData.xlsx;Persist Security Info=False;Extended Properties=&quot;Excel 12.0&quot;" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="Dx_SubstanceScore" connectionString="DiagnosisTestDataConn" dataTableName="SubstanceScores$" dataAccessMethod="Sequential" />
      <add name="Dx_WithdrawalSymptomsAndEmotionalBehavioralProblems" connectionString="DiagnosisTestDataConn" dataTableName="WithdrawalSymptomsAndEmotionalB$" dataAccessMethod="Sequential" />
      <add name="Dx_AddictionSeverityIndexCompositeScores" connectionString="DiagnosisTestDataConn" dataTableName="AddictionSeverityIndex$" dataAccessMethod="Sequential" />
      <add name="Dx_CiwaCinaAndWithdrawalSicknessIndicator" connectionString="DiagnosisTestDataConn" dataTableName="CiwaCinaAndWithdrawalSickness$" dataAccessMethod="Sequential" />
      <add name="Dx_CareLevel_I_DetoxificationScore" connectionString="DiagnosisTestDataConn" dataTableName="CareLevel_I_Detoxification$" dataAccessMethod="Sequential" />
      <add name="Dx_CareLevel_II_DetoxificationScore" connectionString="DiagnosisTestDataConn" dataTableName="CareLevel_II_Detoxification$" dataAccessMethod="Sequential" />
      <add name="Dx_CareLevel_0_5_EarlyInterventionScore" connectionString="DiagnosisTestDataConn" dataTableName="CareLevel_0_5_EarlyIntervention$" dataAccessMethod="Sequential" />
      <add name="Dx_CareLevel_I_OutpatientScore" connectionString="DiagnosisTestDataConn" dataTableName="CareLevel_I_OutpatientScore$" dataAccessMethod="Sequential" />
      <add name="Dx_CareLevelOpioidMaintenanceTherapyScore" connectionString="DiagnosisTestDataConn" dataTableName="CareLevelOpioidMaintenanceThera$" dataAccessMethod="Sequential" />
      <add name="D1_CommonScores" connectionString="Dimension1TestDataConn" dataTableName="CommonScores$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevel_I_DetoxificationScore" connectionString="Dimension1TestDataConn" dataTableName="CareLevel_I_Detoxification$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevel_II_DetoxificationScore" connectionString="Dimension1TestDataConn" dataTableName="CareLevel_II_Detoxification$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevel_III_2_DetoxificationScore" connectionString="Dimension1TestDataConn" dataTableName="CareLevel_III_2_Detoxification$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevel_III_7_DetoxificationScore" connectionString="Dimension1TestDataConn" dataTableName="CareLevel_III_7_Detoxification$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevel_IV_DetoxificationScore" connectionString="Dimension1TestDataConn" dataTableName="CareLevel_IV_Detoxification$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevel_0_5_EarlyIntervention" connectionString="Dimension1TestDataConn" dataTableName="CareLevel_0_5_EarlyIntervention$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevel_I_Outpatient" connectionString="Dimension1TestDataConn" dataTableName="CareLevel_I_Outpatient$" dataAccessMethod="Sequential" />
      <add name="D1_CareLevelOpioidMaintenanceTherapy" connectionString="Dimension1TestDataConn" dataTableName="CareLevelOpioidMaintenanceThera$" dataAccessMethod="Sequential" />
      <add name="D2_CareLevel_0_5_And_I_Score" connectionString="Dimension2TestDataConn" dataTableName="CareLevel_0_5_And_I_Score$" dataAccessMethod="Sequential" />
      <add name="D2_CareLevelOpioidMaintenanceTherapyScore" connectionString="Dimension2TestDataConn" dataTableName="CareLevel_OMT_Score$" dataAccessMethod="Sequential" />
      <add name="D2_CareLevel_II_1_And_5_Score" connectionString="Dimension2TestDataConn" dataTableName="CareLevel_II_1_And_5_Score$" dataAccessMethod="Sequential" />
      <add name="D2_CareLevel_III_1_3_5_ResidentialTreatmentScore" connectionString="Dimension2TestDataConn" dataTableName="CareLevel_III_1_3_5_Score$" dataAccessMethod="Sequential" />
      <add name="D2_CareLevel_III_7_MedicallyMonitoredTreatmentScore" connectionString="Dimension2TestDataConn" dataTableName="CareLevel_III_7_Score$" dataAccessMethod="Sequential" />
      <add name="D2_CareLevel_IV_MedicallyManagedIntensiveInpatientTreatmentScore" connectionString="Dimension2TestDataConn" dataTableName="CareLevel_IV_Score$" dataAccessMethod="Sequential" />
      <add name="D3_ImmediateMajorAndOtherDepressionDisorder" connectionString="Dimension3TestDataConn" dataTableName="ImmediateMajorDepressionDisorde$" dataAccessMethod="Sequential" />
      <add name="D3_CurrentMajorAndOtherDepressionDisorder" connectionString="Dimension3TestDataConn" dataTableName="CurrentMajorDepressionDisorder$" dataAccessMethod="Sequential" />
      <add name="D3_LifetimeMajorAndOtherDepressionDisorder" connectionString="Dimension3TestDataConn" dataTableName="LifetimeMajorDepressionDisorder$" dataAccessMethod="Sequential" />
      <add name="D3_HasPanicSyndrome" connectionString="Dimension3TestDataConn" dataTableName="HasPanicSyndrome$" dataAccessMethod="Sequential" />
      <add name="D3_HasOtherAnxietySyndrome" connectionString="Dimension3TestDataConn" dataTableName="HasOtherAnxietySyndrome$" dataAccessMethod="Sequential" />
      <add name="D3_HistoryOfHarmRiskToSelfOthers" connectionString="Dimension3TestDataConn" dataTableName="HistoryOfHarmRiskToSelfOthers$" dataAccessMethod="Sequential" />
      <add name="D3_CurrentHarmRiskToSelfOthers" connectionString="Dimension3TestDataConn" dataTableName="CurrentHarmRiskToSelfOthers$" dataAccessMethod="Sequential" />
      <add name="D3_HistoryOfWithdrawalRelatedSymptoms" connectionString="Dimension3TestDataConn" dataTableName="HistoryOfWithDrawalRelatedSympt$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_0_5_EarlyInterventionScore" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_0_5_EarlyIntervention$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_I_OutpatientScore" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_I_OutpatientScore$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevelOpioidMaintenanceTherapyScore" connectionString="Dimension3TestDataConn" dataTableName="CareLevelOpioidMaintenanceThera$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_II_1_IntensiveOutpatientScore" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_II_1_IntensiveOutpati$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_II_5_PartialHospitalization" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_II_5_PartialHospital$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_III_1_ClinicallyManaged" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_III_1_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_III_3_ClinicallyManagedMediumIntensity" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_III_3_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_III_5_ClinicallyManagedHighIntensity" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_III_5_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_III_7_MedicallyMonitoredIntensive" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_III_7_MedicallyMonito$" dataAccessMethod="Sequential" />
      <add name="D3_CareLevel_IV_MedicallyManagedIntensiveInpatient" connectionString="Dimension3TestDataConn" dataTableName="CareLevel_IV_MedicallyManagedIn$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_0_5_EarlyIntervention" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_0_5_EarlyIntervention$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_I_Outpatient" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_I_Outpatient$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevelOpioidMaintenanceTherapy" connectionString="Dimension4TestDataConn" dataTableName="CareLevelOpioidMaintenanceThera$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_II_1_IntensiveOutpatient" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_II_1_IntensiveOutpati$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_II_5_PartialHospitalization" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_II_5_PartialHospitali$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_III_1_ClinicallyManagedLowIntensityResidentialTreatmentScore" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_III_1_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_III_3_ClinicallyManagedMediumIntensityResidentialTreatmentScore" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_III_3_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_III_5_ClinicallyManagedHighIntensityResidentialTreatmentScore" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_III_5_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D4_CareLevel_III_7_MedicallyMonitoredIntensiveInpatientTreatmentScore" connectionString="Dimension4TestDataConn" dataTableName="CareLevel_III_7_MedicallyMonito$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_0_5_EarlyInterventionScore" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_0_5_EarlyIntervention$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_I_OutpatientScore" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_I_OutpatientScore$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevelOpioidMaintenanceTherapyScore" connectionString="Dimension5TestDataConn" dataTableName="CareLevelOpioidMaintenanceThera$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_II_1_IntensiveOutpatientScore" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_II_1_IntensiveOutpati$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_II_5_PartialHospitalization" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_II_5_PartialHospital$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_III_1_ClinicallyManaged" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_III_1_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_III_3_ClinicallyManagedMediumIntensity" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_III_3_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_III_5_ClinicallyManagedHighIntensity" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_III_5_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_III_7_MedicallyMonitoredIntensive" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_III_7_MedicallyMonito$" dataAccessMethod="Sequential" />
      <add name="D5_CareLevel_IV_MedicallyManagedIntensiveInpatient" connectionString="Dimension5TestDataConn" dataTableName="CareLevel_IV_MedicallyManagedIn$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_0_5_EarlyInterventionScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_0_5_EarlyIntervention$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_I_OutpatientScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_I_OutpatientScore$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevelOpioidMaintenanceTherapyScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevelOpioidMaintenanceThera$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_II_1_IntensiveOutpatientScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_II_1_IntensiveOutpati$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_II_5_PartialHospitalizationScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_II_5_PartialHospital$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_III_1_ClinicallyManagedScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_III_1_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_III_3_ClinicallyManagedMediumIntensityScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_III_3_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_III_5_ClinicallyManagedHighIntensityScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_III_5_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_III_7_MedicallyMonitoredIntensiveScore" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_III_7_MedicallyMonito$" dataAccessMethod="Sequential" />
      <add name="D6_CareLevel_IV_MedicallyManagedIntensiveInpatient" connectionString="Dimension6TestDataConn" dataTableName="CareLevel_IV_MedicallyManagedIn$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_I_DetoxificationScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_I_Detoxification$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_II_DetoxificationScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_II_Detoxification$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_III_2_DetoxificationScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_III_2_Detoxification$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_III_7_DetoxificationScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_III_7_Detoxification$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_IV_DetoxificationScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_IV_Detoxification$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_0_5_EarlyInterventionScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_0_5_EarlyIntervention$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_I_OutpatientScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_I_OutpatientScore$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevelOpioidMaintenanceTherapyScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevelOpioidMaintenanceThera$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_II_1_IntensiveOutpatientScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_II_1_IntensiveOutpati$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_II_5_PartialHospitalizationScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_II_5_PartialHospital$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_III_1_ClinicallyManagedScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_III_1_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_III_3_ClinicallyManagedMediumIntensityScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_III_3_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_III_5_ClinicallyManagedHighIntensityScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_III_5_ClinicallyManag$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_III_7_MedicallyMonitoredIntensiveScore" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_III_7_MedicallyMonito$" dataAccessMethod="Sequential" />
      <add name="DAC_CareLevel_IV_MedicallyManagedIntensiveInpatient" connectionString="DimensionalAdmissionCriteriaTestDataConn" dataTableName="CareLevel_IV_MedicallyManagedIn$" dataAccessMethod="Sequential" />
      <add name="Rx_AccessToTreatmentIssuesSection" connectionString="ReportingStrategyTestDataConn" dataTableName="AccessToTreatmentIssuesSection$" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1309.1617" newVersion="4.1.1309.1617" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>