<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="NHibernateDatabaseCatalogName"
         value="AsamTest"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NHibernateDatabaseServerName"
         value="BHITSQADB01"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.identityModel>
    <identityConfiguration>
      <issuerNameRegistry>
        <trustedIssuers xdt:Transform="Replace">
          <add thumbprint="4F2194B0A9DEDD67A55286C0B2BCF979DDF32410"
          name="https://sts-qa.feisystems.com/issue/wsfed"/>
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services>
    <federationConfiguration xdt:Transform="Replace">
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://sts-qa.feisystems.com/issue/wsfed" realm="https://asam-qa.feisystems.com/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>

  <system.identityModel>
    <identityConfiguration>
      <audienceUris  xdt:Transform="Replace">
        <add value="https://asam-qa.feisystems.com" />
        <add value="https://asam-qa.feisystems.com/api" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>

</configuration>