<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="IsApiMode" value="true" xdt:Transform="Insert"/>
    <add key="SigningCertName" value="IdentityTKStsCert" xdt:Transform="Insert"/>
    <add key="SingleSignOnRequestTimeoutInSeconds" value="60" xdt:Transform="Insert"/>
  </appSettings>
  <configSections xdt:Transform="Remove"/>
  <location path="FederationMetadata" xdt:Transform="Remove"/>
  <system.web>
    <authorization xdt:Transform="Remove"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" xdt:Transform="Remove"/>
      <add name="SessionAuthenticationModule" xdt:Transform="Remove"/>
      <add name="SingleSignOnClaimsModule" type="Asam.Ppc.Mvc.Infrastructure.Security.SingleSignOnClaimsModule, Asam.Ppc.Mvc.Infrastructure, Version=0.1.0.0, Culture=neutral" 
           xdt:Transform="Insert"/>
    </modules>
  </system.webServer>
  <system.identityModel xdt:Transform="Remove"/>
  <system.identityModel.services xdt:Transform="Remove"/>
</configuration>
