@using System.Linq;
@using Asam.Ppc.Mvc.Infrastructure
@using Asam.Ppc.Primitives
@model Scale

@{
    var labels = Html.GetLegendLabelsForModel().Where(l => !string.IsNullOrEmpty(l));
    var minMaxTemp = Model ?? Activator.CreateInstance(ViewData.ModelMetadata.ModelType, (uint)0) as Scale;
}

<div class="legend-scale">
    <div>
        @Html.DropDownListFor( m => m.Value, new SelectList( Enumerable.Range ( (int)minMaxTemp.Min, (int)minMaxTemp.Max + 1 ) ), string.Empty, new { @class = "scaleControl"} )
    </div>
    <div style="clear: both"></div>
    <div class="scale-legend">
        @foreach(var label in labels)
        {
            <div class="scale-legend-label">@label</div>
        }
    </div>
    <div style="clear: both"></div>
    <div>
        @Html.ExtendedValidationMessageFor( m => m.Value )
    </div>
</div>
